*{
    font-family: "Bradley Hand ITC", cursive;
    color: white;
    letter-spacing: 3px;
}

.welcome_content{
    padding:40px;
    font-size: 40px;
    justify-items: center;
    align-content: center;
}

.background{
    background-color: #87CFCC;
}