#navbar {
    display: flex;
    font-family: "Bradley Hand ITC", cursive;
    background-color: #87CFCC;
    padding: 10px 20px;
    height: calc(2rem + 20px);
}

.nav-left,
.nav-center,
.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-center {
    justify-content: center;
}


#navbar a, #navbar button {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    white-space: nowrap;
}

#logo {
    height: calc(2rem + 20px);
    display: block;
    object-fit: contain;
}