#navbar {
    display: flex;
    font-family: "Bradley Hand ITC", cursive;
    padding: 10px 20px;
    height: calc(2rem + 20px);
}

.nav-links{
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

#logo{
    height: calc(2rem + 20px);
}